<button (click)="startUp()" class="btn btn-default" type="button">Start</button>

<button (click)="sendMsg()" class="btn btn-default" type="button" [disabled]="!isConnected">Send message</button>

<button (click)="stop()" class="btn btn-default" type="button" [disabled]="!isConnected">Stop</button>

<br><br>

<h3>Server Ping</h3>

<div *ngIf="pingOn" class="ping">
</div>

<div *ngIf="!pingOn" class="ping hide">
</div>

<br><br>

<h3>Server Status</h3>

<div *ngIf="greenOn" class="on">
<!--  ON-->
</div>

<div *ngIf="!greenOn" class="of">
<!--  OFF-->
</div>

<router-outlet></router-outlet>
